
.flip-card {
    background-color: transparent;
    width: 450px;
    height: 300px;
    margin: 10px;
    perspective: 1000px; 
    border-radius: 10px;
  }

  .flip-card-inner {
    position: relative;
    width: 450px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius:10px;
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 430px;
    height: 280px;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
  }
  
  .flip-card-front {

    color: black;
    width: 450px;
    height: 300px;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(#bbbbbb ,#ffffff);
  }
  
  .flip-card-back {
    background-color: #2196F3;
    padding:10px;
    color: white;
    font-size: 15px;
    transform: rotateY(180deg);
    border-radius: 10px;
  }